<section class="tcs-certification tcs-container-md ">
    <div class="px-1 px-md-0">


        <h2 class="fs-18 fc-blue">
            Down and Organic Certifications and Guarantees
        </h2>

        <p class="tcs-copy-medium">
            All our down products are filled with down that has been certified under the Responsible Down Standard
            (RDS).
        </p>

        <div class="tcs-certification__list">
            {{#each cards}}
            <div class="tcs-certification__collapse-card">
                <button class="btn fs-14 fc-blue-2 btn-block px-0 d-flex  justify-content-between align-items-center "
                    type="button" data-toggle="collapse" data-target="#{{id}}" aria-expanded="false"
                    aria-controls="{{id}}">
                    {{title}}
                    <i class="open-icon fas fa-collapse-icon"></i>
                </button>
                <div class="collapse {{class}}" id="{{id}}">
                    <p class="mt-1">
                        {{text}}
                    </p>
                </div>
            </div>
            {{/each}}
        </div>

        <button class="btn btn-block btn-md-w mbutton-10 my-2 btn-primary text-uppercase">
            Shop Our Down Comforters
        </button>


        <h2 class="fs-18 fc-blue">
            Down Alternative Comforters
        </h2>

        <p class="tcs-copy-medium">
            For those that want an alternative to down or a more affordable fill, down alternative is a synthetic fill
            used in pillows, comforters, and mattress pads that mimics the loftiness and insulating qualities of down.
            To achieve the same warmth level of down, down alternative comforters may be a bit heavier than down
            comforters.
        </p>

        <h2 class="fs-14 fc-blue-2">
            Our Down Alternative Fill Qualities:
        </h2>

        <ul class="pl-1">
            <li class="fc-blue"><span class="fc-body">Ideal for anyone with a down allergy</span> </li>
            <li class="fc-blue"><span class="fc-body">Mimics insulating qualities of down</span> </li>
            <li class="fc-blue"><span class="fc-body">Machine washable for easy care, except for our Legends速 Luxury
                    Geneva </span> </li>
            <li class="fc-blue"><span class="fc-body">Lofty PrimaLoft速, LoftAIRE, and 100% polyester high-quality
                    fill</span> </li>

        </ul>

        <h2 class="fs-14 fc-blue-2">
            What does PrimaLoft速 and LoftAIRE mean?
        </h2>

        <p class="tcs-copy-medium">
            PrimaLoft速 is the premier hypoallergenic down alternative fill used in luxury bedding, and is an ultra-fine,
            polyester microfiber that traps heat, wicks away moisture, and insulates against the cold.
            LoftAIRE is our exclusive, high-quality synthetic microfiber which mimics the loftiness and insulating
            properties of down to give you the closest thing to the real deal.
        </p>

        <button class="btn btn-block btn-md-w my-2 mbutton-10 btn-primary text-uppercase">
            Shop Alternative Down Comforters
        </button>
    </div>

    {{!-- <hr> --}}
</section>