<div class="tcs-container-md px-1">
    <div class="tcs-reviews mb-4">
            {{#each reviews}}
                <h3 class="fs-18 ff-pm text-primary-dark text-uppercase">
                    {{title}}
                </h3>
                <div class="tcs-reviews__stars">
                    <i class="fas fa-star text-primary-dark"></i>
                    <i class="fas fa-star text-primary-dark"></i>
                    <i class="fas fa-star text-primary-dark"></i>
                    <i class="fas fa-star text-primary-dark"></i>
                </div>
                <p class="fs-16 text-primary-dark">
                    {{subtitle}}
                </p>
                <p class="tcs-copy-medium">
                    {{text}}
                   <a href="#read more">{{read}} </a> 
                </p>
                <p class="tcs-copy-medium mb-2">
                    {{author}}
                </p>
            {{/each}}
    </div>
</div>
