<section class="sleep-wellness row justify-content-center">
    <div class="sleep-wellness-hero-banner">
        {{#each imageHeroBanner}}
            <img class="{{className}}" src="{{path url}}" alt="{{altText}}" /> 
        {{/each}}
    </div>
    <div class="sleep-wellness-section-4 bg-sizeTrick row align-items-center justify-content-center">

        <div class="sleep-wellness-section-4__body-text-section justify-content-center text-center ">
            <div class='sleep-wellness-section-4__logo-header mx-auto'>
                {{#each imageLogo}}
                    <img class="{{className}}" src="{{path url}}" alt="{{altText}}" /> 
                {{/each}}
            </div>
            <h2 class='sleep-wellness-section-4__header-text'>{{ copyTextHeader }}</h2>
            <p class='sleep-wellness-section-4__body-text'> {{ copyTextBody }} </p>
            <div class="d-flex justify-content-center sleep-wellness-section-4__arrow-section">
                <a class="btn btn-link fs-38" href="#our-guide">
                    <svg class=" bi bi-chevron-compact-down text-black" fill="currentColor" width="1em" height="1em" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>